<%- include("partials/headerHTML") %>


  
  
        <ul>
            <% picture.forEach(function(dat) { %>
                <li><%= dat.created_at %></li>
                <li><%= dat.image%></li>
                <li><%= dat.description%></li>
                <li><%= dat.bio%></li>
                <img src="<%= dat.image %>" >
            <% }); %>
        </ul>
    

    

<%- include("partials/footer") %>