<%- include("partials/headerHTML") %>


  
   <h1 style="color: green;">
        <ul>
            <% picture.forEach(function(dat) { %>
                <li><%= dat.created_at %></li>
                <li><%= dat.image%></li>
                <li><%= dat.description%></li>
                <li><%= dat.bio%></li>
            <% }); %>
        </ul>
    </h1> 


<%- include("partials/footer") %>