<%- include("partials/headerHTML") %>


<div class="pure-g">
<% picture.forEach(function(photo){ %>
    <div class="photo-box pure-u-1">
        <a href="<%= photo.image %>">
            <img src="<%=photo.image %>">
        </a>
        
     
        <aside class="photo-box-caption">
                <span>
                    by <strong><%= photo.username %></strong>
                </span>
                <p><%= photo.description %></p>
        </aside>
    </div>
    
    <% }); %>
</div>
    

    

<%- include("partials/footer") %>