<%- include("partials/headerHTML") %>

<div class="pure-g">
<% picture.forEach(function(photo){ %>
    <div class="photo-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
        <a href="<%= photo.image %>">
            <img src="<%=photo.image %>">
        </a>
        
     
        <aside class="photo-box-caption">
                <span>
                    by <strong>photo.username</strong>
                </span>
                <p style="position: absolute;"><%= photo.description %></p>
        </aside>
    </div>
    
    <% }); %>
</div>

<%- include("partials/footer") %>